body {
    background-color: rgb(244, 224, 169);
    color: rgb(199, 91, 245);
}

img {
    width: 400;
    height: auto;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.enfasis {

    font-weight: 200;
}

#final {

    font-size: large;
}


